@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* src/styles/globals.css */
.bg-bakery {
  background-image: url('/images/BackGround4.jpeg'); /* Use your image path here */
  background-size: cover; /* This makes the background cover the entire area */
  background-position: center; /* Center the image */
}
